@page
@model IndexModel
@{
    ViewData["Title"] = "In the container";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Exercise Programmer!</h1>
    <p>I am a legend inside a container la la la</p>
</div>
